In [1]:
import numpy as np
import pandas as pd

In [4]:
df_ben = pd.read_csv('../data/Train_Beneficiarydata-1542865627584.csv')
df_in = pd.read_csv('../data/Train_Inpatientdata-1542865627584.csv')
df_out = pd.read_csv('../data/Train_Outpatientdata-1542865627584.csv')

In [8]:
pd.set_option('display.max_columns', None)

In [6]:
df_ben.head()

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,ChronicCond_Alzheimer,ChronicCond_Heartfailure,ChronicCond_KidneyDisease,ChronicCond_Cancer,ChronicCond_ObstrPulmonary,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,1943-01-01,NaN,1,1,0,39,230,12,12,1,2,1,2,2,1,1,1,2,1,1,36000,3204,60,70
1,BENE11002,1936-09-01,NaN,2,1,0,39,280,12,12,2,2,2,2,2,2,2,2,2,2,2,0,0,30,50
2,BENE11003,1936-08-01,NaN,1,1,0,52,590,12,12,1,2,2,2,2,2,2,1,2,2,2,0,0,90,40
3,BENE11004,1922-07-01,NaN,1,1,0,39,270,12,12,1,1,2,2,2,2,1,1,1,1,2,0,0,1810,760
4,BENE11005,1935-09-01,NaN,1,1,0,24,680,12,12,2,2,2,2,1,2,1,2,2,2,2,0,0,1790,1200

In [7]:
df_ben.shape

(138556, 25)

In [8]:
df_in.shape

(40474, 30)

In [9]:
df_out.shape

(517737, 27)

In [10]:
df_in.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,ClmAdmitDiagnosisCode,DeductibleAmtPaid,DischargeDt,DiagnosisGroupCode,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,7866,1068.0,2009-04-18,201,1970,4019,5853,7843,2768,71590,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,6186,1068.0,2009-09-02,750,6186,2948,56400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,29590,1068.0,2009-09-20,883,29623,30390,71690,34590,V1581,32723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,431,1068.0,2009-02-22,067,43491,2762,7843,32723,V1041,4254,25062,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,78321,1068.0,2009-08-30,975,042,3051,34400,5856,42732,486,5119,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN

In [11]:
df_out.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode
0,BENE11002,CLM624349,2009-10-11,2009-10-11,PRV56011,30,PHY326117,NaN,NaN,78943,V5866,V1272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,56409
1,BENE11003,CLM189947,2009-02-12,2009-02-12,PRV57610,80,PHY362868,NaN,NaN,6115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,79380
2,BENE11003,CLM438021,2009-06-27,2009-06-27,PRV57595,10,PHY328821,NaN,NaN,2723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,BENE11004,CLM121801,2009-01-06,2009-01-06,PRV56011,40,PHY334319,NaN,NaN,71988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
4,BENE11004,CLM150998,2009-01-22,2009-01-22,PRV56011,200,PHY403831,NaN,NaN,82382,30000,72887,4280,7197,V4577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,71947

In [12]:
df_in['is_inpatient'] = 1

In [13]:
df = pd.concat(
    [df_in, df_out],
    axis=0,
    ignore_index=True
)

In [14]:
df.shape

(558211, 31)

In [15]:
df['is_inpatient'] = df['is_inpatient'].fillna(0)

In [ ]:
df.to_csv('in_and_out_patient.csv')

In [14]:
df_label = pd.read_csv('../data/Train-1542865627584.csv')

In [15]:
df_label.shape

(5410, 2)

In [19]:
df.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,ClmAdmitDiagnosisCode,DeductibleAmtPaid,DischargeDt,DiagnosisGroupCode,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,is_inpatient
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,7866,1068.0,2009-04-18,201,1970,4019,5853,7843,2768,71590,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,6186,1068.0,2009-09-02,750,6186,2948,56400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN,1.0
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,29590,1068.0,2009-09-20,883,29623,30390,71690,34590,V1581,32723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,431,1068.0,2009-02-22,067,43491,2762,7843,32723,V1041,4254,25062,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN,1.0
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,78321,1068.0,2009-08-30,975,042,3051,34400,5856,42732,486,5119,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN,1.0

In [20]:
df = df.merge(df_ben, on='BeneID', how='left')

In [21]:
df.shape

(558211, 55)

In [22]:
df.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,ClmAdmitDiagnosisCode,DeductibleAmtPaid,DischargeDt,DiagnosisGroupCode,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,is_inpatient,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,ChronicCond_Alzheimer,ChronicCond_Heartfailure,ChronicCond_KidneyDisease,ChronicCond_Cancer,ChronicCond_ObstrPulmonary,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,7866,1068.0,2009-04-18,201,1970,4019,5853,7843,2768,71590,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1943-01-01,NaN,1,1,0,39,230,12,12,1,2,1,2,2,1,1,1,2,1,1,36000,3204,60,70
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,6186,1068.0,2009-09-02,750,6186,2948,56400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN,1.0,1943-01-01,NaN,1,1,0,39,230,12,12,1,2,1,2,2,1,1,1,2,1,1,36000,3204,60,70
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,29590,1068.0,2009-09-20,883,29623,30390,71690,34590,V1581,32723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1943-01-01,NaN,1,1,0,39,230,12,12,1,2,1,2,2,1,1,1,2,1,1,36000,3204,60,70
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,431,1068.0,2009-02-22,067,43491,2762,7843,32723,V1041,4254,25062,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN,1.0,1914-03-01,NaN,2,2,0,1,360,12,12,2,1,1,2,2,1,1,2,2,1,1,5000,1068,250,320
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,78321,1068.0,2009-08-30,975,042,3051,34400,5856,42732,486,5119,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN,1.0,1938-04-01,NaN,2,1,Y,45,780,12,12,2,1,1,2,1,1,2,1,2,2,2,21260,2136,120,100

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558211 entries, 0 to 558210
Data columns (total 55 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   BeneID                           558211 non-null  object
 1   ClaimID                          558211 non-null  object
 2   ClaimStartDt                     558211 non-null  object
 3   ClaimEndDt                       558211 non-null  object
 4   Provider                         558211 non-null  object
 5   InscClaimAmtReimbursed           558211 non-null  int64
 6   AttendingPhysician               556703 non-null  object
 7   OperatingPhysician               114447 non-null  object
 8   OtherPhysician                   199736 non-null  object
 9   AdmissionDt                      40474 non-null   object
 10  ClmAdmitDiagnosisCode            145899 non-null  object
 11  DeductibleAmtPaid                557312 non-null  float64
 12  DischargeDt                      40474 non-null   object
 13  DiagnosisGroupCode               40474 non-null   object
 14  ClmDiagnosisCode_1               547758 non-null  object
 15  ClmDiagnosisCode_2               362605 non-null  object
 16  ClmDiagnosisCode_3               243055 non-null  object
 17  ClmDiagnosisCode_4               164536 non-null  object
 18  ClmDiagnosisCode_5               111924 non-null  object
 19  ClmDiagnosisCode_6               84392 non-null   object
 20  ClmDiagnosisCode_7               66177 non-null   object
 21  ClmDiagnosisCode_8               53444 non-null   object
 22  ClmDiagnosisCode_9               41815 non-null   object
 23  ClmDiagnosisCode_10              5010 non-null    object
 24  ClmProcedureCode_1               23310 non-null   float64
 25  ClmProcedureCode_2               5490 non-null    float64
 26  ClmProcedureCode_3               969 non-null     float64
 27  ClmProcedureCode_4               118 non-null     float64
 28  ClmProcedureCode_5               9 non-null       float64
 29  ClmProcedureCode_6               0 non-null       float64
 30  is_inpatient                     558211 non-null  float64
 31  DOB                              558211 non-null  object
 32  DOD                              4131 non-null    object
 33  Gender                           558211 non-null  int64
 34  Race                             558211 non-null  int64
 35  RenalDiseaseIndicator            558211 non-null  object
 36  State                            558211 non-null  int64
 37  County                           558211 non-null  int64
 38  NoOfMonths_PartACov              558211 non-null  int64
 39  NoOfMonths_PartBCov              558211 non-null  int64
 40  ChronicCond_Alzheimer            558211 non-null  int64
 41  ChronicCond_Heartfailure         558211 non-null  int64
 42  ChronicCond_KidneyDisease        558211 non-null  int64
 43  ChronicCond_Cancer               558211 non-null  int64
 44  ChronicCond_ObstrPulmonary       558211 non-null  int64
 45  ChronicCond_Depression           558211 non-null  int64
 46  ChronicCond_Diabetes             558211 non-null  int64
 47  ChronicCond_IschemicHeart        558211 non-null  int64
 48  ChronicCond_Osteoporasis         558211 non-null  int64
 49  ChronicCond_rheumatoidarthritis  558211 non-null  int64
 50  ChronicCond_stroke               558211 non-null  int64
 51  IPAnnualReimbursementAmt         558211 non-null  int64
 52  IPAnnualDeductibleAmt            558211 non-null  int64
 53  OPAnnualReimbursementAmt         558211 non-null  int64
 54  OPAnnualDeductibleAmt            558211 non-null  int64
dtypes: float64(8), int64(22), object(25)
memory usage: 234.2+ MB

In [24]:
df.isnull().mean()*100

BeneID                               0.000000
ClaimID                              0.000000
ClaimStartDt                         0.000000
ClaimEndDt                           0.000000
Provider                             0.000000
InscClaimAmtReimbursed               0.000000
AttendingPhysician                   0.270149
OperatingPhysician                  79.497538
OtherPhysician                      64.218548
AdmissionDt                         92.749337
ClmAdmitDiagnosisCode               73.863109
DeductibleAmtPaid                    0.161050
DischargeDt                         92.749337
DiagnosisGroupCode                  92.749337
ClmDiagnosisCode_1                   1.872589
ClmDiagnosisCode_2                  35.041588
ClmDiagnosisCode_3                  56.458221
ClmDiagnosisCode_4                  70.524407
ClmDiagnosisCode_5                  79.949517
ClmDiagnosisCode_6                  84.881702
ClmDiagnosisCode_7                  88.144805
ClmDiagnosisCode_8                  90.425843
ClmDiagnosisCode_9                  92.509105
ClmDiagnosisCode_10                 99.102490
ClmProcedureCode_1                  95.824160
ClmProcedureCode_2                  99.016501
ClmProcedureCode_3                  99.826410
ClmProcedureCode_4                  99.978861
ClmProcedureCode_5                  99.998388
ClmProcedureCode_6                 100.000000
is_inpatient                         0.000000
DOB                                  0.000000
DOD                                 99.259957
Gender                               0.000000
Race                                 0.000000
RenalDiseaseIndicator                0.000000
State                                0.000000
County                               0.000000
NoOfMonths_PartACov                  0.000000
NoOfMonths_PartBCov                  0.000000
ChronicCond_Alzheimer                0.000000
ChronicCond_Heartfailure             0.000000
ChronicCond_KidneyDisease            0.000000
ChronicCond_Cancer                   0.000000
ChronicCond_ObstrPulmonary           0.000000
ChronicCond_Depression               0.000000
ChronicCond_Diabetes                 0.000000
ChronicCond_IschemicHeart            0.000000
ChronicCond_Osteoporasis             0.000000
ChronicCond_rheumatoidarthritis      0.000000
ChronicCond_stroke                   0.000000
IPAnnualReimbursementAmt             0.000000
IPAnnualDeductibleAmt                0.000000
OPAnnualReimbursementAmt             0.000000
OPAnnualDeductibleAmt                0.000000
dtype: float64

In [ ]:
df.to_csv('strutured.csv')

In [26]:
df['DOB'] = pd.to_datetime(df['DOB'])
df['ClaimStartDt'] = pd.to_datetime(df['ClaimStartDt'])
df['Age'] = df['ClaimStartDt'] - df['DOB']

In [27]:
df.shape

(558211, 56)

In [2]:
df_mt = pd.read_csv('../data/mtsamples.csv')

In [3]:
df_mt.head()

,Unnamed: 0,description,medical_specialty,sample_name,transcription,keywords
0,0,A 23-year-old white female presents with comp...,Allergy / Immunology,Allergic Rhinitis,"SUBJECTIVE:, This 23-year-old white female pr...","allergy / immunology, allergic rhinitis, aller..."
1,1,Consult for laparoscopic gastric bypass.,Bariatrics,Laparoscopic Gastric Bypass Consult - 2,"PAST MEDICAL HISTORY:, He has difficulty climb...","bariatrics, laparoscopic gastric bypass, weigh..."
2,2,Consult for laparoscopic gastric bypass.,Bariatrics,Laparoscopic Gastric Bypass Consult - 1,"HISTORY OF PRESENT ILLNESS: , I have seen ABC ...","bariatrics, laparoscopic gastric bypass, heart..."
3,3,2-D M-Mode. Doppler.,Cardiovascular / Pulmonary,2-D Echocardiogram - 1,"2-D M-MODE: , ,1. Left atrial enlargement wit...","cardiovascular / pulmonary, 2-d m-mode, dopple..."
4,4,2-D Echocardiogram,Cardiovascular / Pulmonary,2-D Echocardiogram - 2,1. The left ventricular cavity size and wall ...,"cardiovascular / pulmonary, 2-d, doppler, echo..."

In [30]:
df['Note'] = df_mt.sample(n = len(df), replace=True, random_state=42)['transcription'].values

In [31]:
df.head()

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,ClmAdmitDiagnosisCode,DeductibleAmtPaid,DischargeDt,DiagnosisGroupCode,ClmDiagnosisCode_1,ClmDiagnosisCode_2,ClmDiagnosisCode_3,ClmDiagnosisCode_4,ClmDiagnosisCode_5,ClmDiagnosisCode_6,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,is_inpatient,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,ChronicCond_Alzheimer,ChronicCond_Heartfailure,ChronicCond_KidneyDisease,ChronicCond_Cancer,ChronicCond_ObstrPulmonary,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt,Age,Note
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,7866,1068.0,2009-04-18,201,1970,4019,5853,7843,2768,71590,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1943-01-01,NaN,1,1,0,39,230,12,12,1,2,1,2,2,1,1,1,2,1,1,36000,3204,60,70,24208 days,"PROCEDURE:, Upper endoscopy.,PREOPERATIVE DIA..."
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,6186,1068.0,2009-09-02,750,6186,2948,56400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN,1.0,1943-01-01,NaN,1,1,0,39,230,12,12,1,2,1,2,2,1,1,1,2,1,1,36000,3204,60,70,24349 days,"PREOPERATIVE DIAGNOSES: , Bilateral cleft lip ..."
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,29590,1068.0,2009-09-20,883,29623,30390,71690,34590,V1581,32723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1943-01-01,NaN,1,1,0,39,230,12,12,1,2,1,2,2,1,1,1,2,1,1,36000,3204,60,70,24366 days,"ALLOWED CONDITIONS:, Lateral epicondylitis, r..."
3,BENE11011,CLM38412,2009-02-14,2009-02-22,PRV52405,5000,PHY369659,PHY392961,PHY349768,2009-02-14,431,1068.0,2009-02-22,067,43491,2762,7843,32723,V1041,4254,25062,40390,4019,NaN,331.0,NaN,NaN,NaN,NaN,NaN,1.0,1914-03-01,NaN,2,2,0,1,360,12,12,2,1,1,2,2,1,1,2,2,1,1,5000,1068,250,320,34684 days,"HISTORY: , The patient is a 5-1/2-year-old, wh..."
4,BENE11014,CLM63689,2009-08-13,2009-08-30,PRV56614,10000,PHY379376,PHY398258,NaN,2009-08-13,78321,1068.0,2009-08-30,975,042,3051,34400,5856,42732,486,5119,29620,20300,NaN,3893.0,NaN,NaN,NaN,NaN,NaN,1.0,1938-04-01,NaN,2,1,Y,45,780,12,12,2,1,1,2,1,1,2,1,2,2,2,21260,2136,120,100,26067 days,"HISTORY OF PRESENT ILLNESS: , The patient is a..."

In [ ]:
df.to_csv('after_transcription.csv')

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558211 entries, 0 to 558210
Data columns (total 57 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   BeneID                           558211 non-null  object
 1   ClaimID                          558211 non-null  object
 2   ClaimStartDt                     558211 non-null  datetime64[ns]
 3   ClaimEndDt                       558211 non-null  object
 4   Provider                         558211 non-null  object
 5   InscClaimAmtReimbursed           558211 non-null  int64
 6   AttendingPhysician               556703 non-null  object
 7   OperatingPhysician               114447 non-null  object
 8   OtherPhysician                   199736 non-null  object
 9   AdmissionDt                      40474 non-null   object
 10  ClmAdmitDiagnosisCode            145899 non-null  object
 11  DeductibleAmtPaid                557312 non-null  float64
 12  DischargeDt                      40474 non-null   object
 13  DiagnosisGroupCode               40474 non-null   object
 14  ClmDiagnosisCode_1               547758 non-null  object
 15  ClmDiagnosisCode_2               362605 non-null  object
 16  ClmDiagnosisCode_3               243055 non-null  object
 17  ClmDiagnosisCode_4               164536 non-null  object
 18  ClmDiagnosisCode_5               111924 non-null  object
 19  ClmDiagnosisCode_6               84392 non-null   object
 20  ClmDiagnosisCode_7               66177 non-null   object
 21  ClmDiagnosisCode_8               53444 non-null   object
 22  ClmDiagnosisCode_9               41815 non-null   object
 23  ClmDiagnosisCode_10              5010 non-null    object
 24  ClmProcedureCode_1               23310 non-null   float64
 25  ClmProcedureCode_2               5490 non-null    float64
 26  ClmProcedureCode_3               969 non-null     float64
 27  ClmProcedureCode_4               118 non-null     float64
 28  ClmProcedureCode_5               9 non-null       float64
 29  ClmProcedureCode_6               0 non-null       float64
 30  is_inpatient                     558211 non-null  float64
 31  DOB                              558211 non-null  datetime64[ns]
 32  DOD                              4131 non-null    object
 33  Gender                           558211 non-null  int64
 34  Race                             558211 non-null  int64
 35  RenalDiseaseIndicator            558211 non-null  object
 36  State                            558211 non-null  int64
 37  County                           558211 non-null  int64
 38  NoOfMonths_PartACov              558211 non-null  int64
 39  NoOfMonths_PartBCov              558211 non-null  int64
 40  ChronicCond_Alzheimer            558211 non-null  int64
 41  ChronicCond_Heartfailure         558211 non-null  int64
 42  ChronicCond_KidneyDisease        558211 non-null  int64
 43  ChronicCond_Cancer               558211 non-null  int64
 44  ChronicCond_ObstrPulmonary       558211 non-null  int64
 45  ChronicCond_Depression           558211 non-null  int64
 46  ChronicCond_Diabetes             558211 non-null  int64
 47  ChronicCond_IschemicHeart        558211 non-null  int64
 48  ChronicCond_Osteoporasis         558211 non-null  int64
 49  ChronicCond_rheumatoidarthritis  558211 non-null  int64
 50  ChronicCond_stroke               558211 non-null  int64
 51  IPAnnualReimbursementAmt         558211 non-null  int64
 52  IPAnnualDeductibleAmt            558211 non-null  int64
 53  OPAnnualReimbursementAmt         558211 non-null  int64
 54  OPAnnualDeductibleAmt            558211 non-null  int64
 55  Age                              558211 non-null  timedelta64[ns]
 56  Note                             554485 non-null  object
dtypes: datetime64[ns](2), float64(8), int64(22), object(24), timedelta64[ns](1)
memory usage: 242.8+ MB

In [9]:
df_1 = pd.read_csv('../data/before_final.csv')

In [10]:
df_1.head()

,Unnamed: 0,index,Provider,InscClaimAmtReimbursed_sum,InscClaimAmtReimbursed_mean,InscClaimAmtReimbursed_std,InscClaimAmtReimbursed_max,InscClaimAmtReimbursed_median,InscClaimAmtReimbursed_min,DeductibleAmtPaid_sum,DeductibleAmtPaid_mean,diag_count_mean,procedure_count_mean,stay_len_mean,Age_mean,Age_std,NoOfMonths_PartACov_mean,NoOfMonths_PartBCov_mean,ChronicCond_Alzheimer_mean,ChronicCond_Heartfailure_mean,ChronicCond_KidneyDisease_mean,ChronicCond_ObstrPulmonary_mean,ChronicCond_Depression_mean,ChronicCond_Diabetes_mean,ChronicCond_IschemicHeart_mean,ChronicCond_Osteoporasis_mean,ChronicCond_rheumatoidarthritis_mean,ChronicCond_stroke_mean,IPAnnualReimbursementAmt_mean,OPAnnualReimbursementAmt_mean,IPAnnualDeductibleAmt_mean,OPAnnualDeductibleAmt_mean,word_count_mean,word_count_median,medical_term_count_mean,general_word_count_mean,short_note_flag_mean,highcost_shortnote_mean,High_Cost_Flag_mean,Claim_After_Death_sum,is_inpatient_mean,BeneID_nunique,ClaimID_count,Inpatient_Claim_sum,Outpatient_Claim_sum
0,0,0,PRV51001,104640,4185.600000,10796.091144,42000,400.0,10,5340.0,213.600000,3.200000,0.120000,1.440000,78.160000,11.915256,12.000000,12.000000,1.400000,1.240000,1.320000,1.600000,1.640000,1.160000,1.080000,1.760000,1.680000,1.760000,17606.000000,2615.200000,897.120000,463.920000,537.280000,507.0,2.280000,1.200000,0.000000,0.000000,0.200000,0,0.200000,24,25,5.0,20.0
1,1,1,PRV51003,605670,4588.409091,7309.794729,57000,1750.0,0,66286.0,502.166667,5.250000,0.363636,3.674242,69.590909,13.461823,11.818182,11.871212,1.575758,1.393939,1.515152,1.689394,1.590909,1.242424,1.151515,1.750000,1.712121,1.909091,7568.181818,2678.181818,931.424242,737.121212,458.977273,372.5,2.515152,1.045455,0.022727,0.022727,0.469697,0,0.469697,117,132,62.0,70.0
2,2,2,PRV51004,52170,350.134228,689.963754,3300,70.0,0,310.0,2.080537,2.583893,0.000000,1.429530,71.778523,12.918061,11.865772,11.959732,1.570470,1.409396,1.664430,1.724832,1.577181,1.295302,1.275168,1.671141,1.691275,1.885906,4351.879195,2194.899329,434.953020,622.751678,511.402685,403.0,2.751678,1.080537,0.006711,0.000000,0.060403,0,0.000000,138,149,0.0,149.0
3,3,3,PRV51005,280910,241.124464,491.556392,4080,70.0,0,3700.0,3.175966,2.588841,0.000000,1.088412,70.082403,13.357434,11.907296,11.939914,1.634335,1.416309,1.564807,1.746781,1.583691,1.314163,1.231760,1.704721,1.715880,1.893562,3623.991416,2109.733906,379.162232,636.328755,486.928755,428.0,2.706438,1.097854,0.015451,0.000000,0.023176,0,0.000000,495,1165,0.0,1165.0
4,4,4,PRV51007,33710,468.194444,1433.769116,10000,80.0,0,3264.0,45.333333,2.986111,0.013889,0.958333,68.791667,14.628679,11.833333,11.833333,1.638889,1.444444,1.694444,1.777778,1.597222,1.319444,1.291667,1.708333,1.694444,1.833333,3050.000000,1729.722222,445.000000,469.722222,428.208333,353.5,2.513889,0.944444,0.055556,0.013889,0.055556,0,0.041667,58,72,3.0,69.0

In [11]:
df_1.drop(columns=['Unnamed: 0', 'index'], inplace=True)

In [12]:
df_1.sample()

,Provider,InscClaimAmtReimbursed_sum,InscClaimAmtReimbursed_mean,InscClaimAmtReimbursed_std,InscClaimAmtReimbursed_max,InscClaimAmtReimbursed_median,InscClaimAmtReimbursed_min,DeductibleAmtPaid_sum,DeductibleAmtPaid_mean,diag_count_mean,procedure_count_mean,stay_len_mean,Age_mean,Age_std,NoOfMonths_PartACov_mean,NoOfMonths_PartBCov_mean,ChronicCond_Alzheimer_mean,ChronicCond_Heartfailure_mean,ChronicCond_KidneyDisease_mean,ChronicCond_ObstrPulmonary_mean,ChronicCond_Depression_mean,ChronicCond_Diabetes_mean,ChronicCond_IschemicHeart_mean,ChronicCond_Osteoporasis_mean,ChronicCond_rheumatoidarthritis_mean,ChronicCond_stroke_mean,IPAnnualReimbursementAmt_mean,OPAnnualReimbursementAmt_mean,IPAnnualDeductibleAmt_mean,OPAnnualDeductibleAmt_mean,word_count_mean,word_count_median,medical_term_count_mean,general_word_count_mean,short_note_flag_mean,highcost_shortnote_mean,High_Cost_Flag_mean,Claim_After_Death_sum,is_inpatient_mean,BeneID_nunique,ClaimID_count,Inpatient_Claim_sum,Outpatient_Claim_sum
1739,PRV53169,170,42.5,23.629078,60,50.0,10,0.0,0.0,2.75,0.0,0.0,83.5,12.556539,12.0,12.0,2.0,1.5,1.75,2.0,2.0,1.75,1.5,1.75,1.75,2.0,2750.0,1922.5,267.0,385.0,419.75,365.5,2.25,1.0,0.0,0.0,0.0,0,0.0,4,4,0.0,4.0

In [16]:
df_final = df_1.merge(df_label, on='Provider')

In [17]:
df_1.shape

(5410, 43)

In [18]:
df_final.shape

(5410, 44)

In [19]:
df_final['PotentialFraud'] = df_final['PotentialFraud'].map({'No':0, 'Yes':1})

In [20]:
df_final.head()

,Provider,InscClaimAmtReimbursed_sum,InscClaimAmtReimbursed_mean,InscClaimAmtReimbursed_std,InscClaimAmtReimbursed_max,InscClaimAmtReimbursed_median,InscClaimAmtReimbursed_min,DeductibleAmtPaid_sum,DeductibleAmtPaid_mean,diag_count_mean,procedure_count_mean,stay_len_mean,Age_mean,Age_std,NoOfMonths_PartACov_mean,NoOfMonths_PartBCov_mean,ChronicCond_Alzheimer_mean,ChronicCond_Heartfailure_mean,ChronicCond_KidneyDisease_mean,ChronicCond_ObstrPulmonary_mean,ChronicCond_Depression_mean,ChronicCond_Diabetes_mean,ChronicCond_IschemicHeart_mean,ChronicCond_Osteoporasis_mean,ChronicCond_rheumatoidarthritis_mean,ChronicCond_stroke_mean,IPAnnualReimbursementAmt_mean,OPAnnualReimbursementAmt_mean,IPAnnualDeductibleAmt_mean,OPAnnualDeductibleAmt_mean,word_count_mean,word_count_median,medical_term_count_mean,general_word_count_mean,short_note_flag_mean,highcost_shortnote_mean,High_Cost_Flag_mean,Claim_After_Death_sum,is_inpatient_mean,BeneID_nunique,ClaimID_count,Inpatient_Claim_sum,Outpatient_Claim_sum,PotentialFraud
0,PRV51001,104640,4185.600000,10796.091144,42000,400.0,10,5340.0,213.600000,3.200000,0.120000,1.440000,78.160000,11.915256,12.000000,12.000000,1.400000,1.240000,1.320000,1.600000,1.640000,1.160000,1.080000,1.760000,1.680000,1.760000,17606.000000,2615.200000,897.120000,463.920000,537.280000,507.0,2.280000,1.200000,0.000000,0.000000,0.200000,0,0.200000,24,25,5.0,20.0,0
1,PRV51003,605670,4588.409091,7309.794729,57000,1750.0,0,66286.0,502.166667,5.250000,0.363636,3.674242,69.590909,13.461823,11.818182,11.871212,1.575758,1.393939,1.515152,1.689394,1.590909,1.242424,1.151515,1.750000,1.712121,1.909091,7568.181818,2678.181818,931.424242,737.121212,458.977273,372.5,2.515152,1.045455,0.022727,0.022727,0.469697,0,0.469697,117,132,62.0,70.0,1
2,PRV51004,52170,350.134228,689.963754,3300,70.0,0,310.0,2.080537,2.583893,0.000000,1.429530,71.778523,12.918061,11.865772,11.959732,1.570470,1.409396,1.664430,1.724832,1.577181,1.295302,1.275168,1.671141,1.691275,1.885906,4351.879195,2194.899329,434.953020,622.751678,511.402685,403.0,2.751678,1.080537,0.006711,0.000000,0.060403,0,0.000000,138,149,0.0,149.0,0
3,PRV51005,280910,241.124464,491.556392,4080,70.0,0,3700.0,3.175966,2.588841,0.000000,1.088412,70.082403,13.357434,11.907296,11.939914,1.634335,1.416309,1.564807,1.746781,1.583691,1.314163,1.231760,1.704721,1.715880,1.893562,3623.991416,2109.733906,379.162232,636.328755,486.928755,428.0,2.706438,1.097854,0.015451,0.000000,0.023176,0,0.000000,495,1165,0.0,1165.0,1
4,PRV51007,33710,468.194444,1433.769116,10000,80.0,0,3264.0,45.333333,2.986111,0.013889,0.958333,68.791667,14.628679,11.833333,11.833333,1.638889,1.444444,1.694444,1.777778,1.597222,1.319444,1.291667,1.708333,1.694444,1.833333,3050.000000,1729.722222,445.000000,469.722222,428.208333,353.5,2.513889,0.944444,0.055556,0.013889,0.055556,0,0.041667,58,72,3.0,69.0,0

In [22]:
df_final.to_csv('Final_dataset.csv')